body {
    background-color: #FFFF;
    display:block;
}

.center {
    text-align: center;
}


.table {
    text-align: center;
    border: 0cm;
    width: 90%;
    margin: 1px auto;
    display: table;
    border-collapse:separate;
    text-indent:initial;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    font-style: normal;
    text-align: start;
    font-weight: normal;
    border-spacing: 2px;

}

.search {
    background-color: #EEEE;
    column-span: 3;
    width: auto;
    height: auto;
    font-weight: lighter;
}

.all-box {
    float: left;
    display: table-row;
}

.box1 {
    width: 37%;
    height:67px;
    background-color: #7EE5DA;
    padding-top:10px;
    font-weight:lighter;
    margin: 2px  1px 0px 0px;
}

.box2 {
    background-color: #70CCC2;
    height: 70px;
    width: 19.3%;
    margin: 2px 1px ;
    font-size: small;
    padding-top: 7px;

}

.box3 {
    background-color:#62B3AA;
    height: 77px;
    width:43.4%;
    margin:2px 0;
    font-size: small;
    float:right;
}

